body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span {
    font-family: 'Lato', sans-serif;
}

.header-menu ul li a {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
}

.banner-overlay {
    background: linear-gradient(180deg, #121212 0%, rgba(18, 18, 18, 0.00) 100%);
}

.team-overlay {
    background: rgba(18, 18, 18, 0.70);
}

.footer-menu ul li a {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
}